.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
/GameClient/target/
**/*.rs.bk
Cargo.lock.bk
/GameServer/main
/GameServer/main.exe
*.test
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
*.jl.cov
*.jl.teletape
*.jl.hprof
*.jl.profile
*.mem
